
@{
    ViewBag.Title = "Admin";
}

<h2>Administration Page</h2>

<table>
    <tr>
        <td>@Html.ActionLink("Stations", "", "Pipeline", null, htmlAttributes: new { @class = "linkbutton" })</td>

        <td>@Html.ActionLink("Circuits", "", "ValveSection", null, htmlAttributes: new { @class = "linkbutton" })</td>

        <td>@Html.ActionLink("Manufacturers", "", "Manufacturer", null, htmlAttributes: new { @class = "linkbutton" })</td>

        <td>@Html.ActionLink("Users", "", "User", null, htmlAttributes: new { @class = "linkbutton" })</td>
    </tr>
</table>

