@{
    ViewBag.Title = "DownloadReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DownloadReport</h2>
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("ReportViewerUserControl")