@model PipelineFeatureList.Controllers.UserType

@{
    ViewBag.Title = "User Type Details";
}

<h2>User Type Details</h2>

<fieldset>
    <legend>UserType</legend>

    <table><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserTypeItem)
    </div></td>
    <td>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserTypeItem)
    </div>
    </td></tr></table>    
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UserTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
