@model PipelineFeatureList.Models.ValveSectionFeature

@{
    ViewBag.Title = "Delete Feature";
}

<h2>Delete Feature</h2>

<h3>Are you sure you want to delete this?</h3>
    <table>
        <tr>
            <td>            
                @Html.DisplayNameFor(model => model.FeatureMarkNumber): 
            </td>
            <td>
                @Html.DisplayFor(model => model.FeatureMarkNumber)
            </td>
        </tr>
    </table>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /></p>
    <p>
        @Html.ActionLink("Back to List", "Index", null, new { ValveSectionID = Session["CurrentValveSection"].ToString(), OrionStationSeries = Session["CurrentOrionStationSeries"].ToString() }, htmlAttributes: new { @class = "linkbutton" })
    </p>
}
