@model PipelineFeatureList.Models.Manufacturer

@{
    ViewBag.Title = "Delete Manufacturer";
}

<h2>Delete Manufacturer</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Manufacturer</legend>

    <table><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.ManufacturerItem)
    </div></td>
    <td>
        <div class="display-field">
            @Html.DisplayFor(model => model.ManufacturerItem)
            @Html.ValidationMessageFor(model => model.ManufacturerItem)

        </div>
    </td></tr></table>
</fieldset>
@using (Html.BeginForm()) {
<p>
    @if (ViewBag.HasError != "True")
    {
        <input type="submit" value="Delete" />
    }

    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "linkbutton" })
</p>
}
