@model PipelineFeatureList.Models.MaterialType

@{
    ViewBag.Title = "Material Type Details";
}

<h2>Material Type Details</h2>

<fieldset>
    <legend>MaterialType</legend>
    <table>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.MaterialTypeItem)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.MaterialTypeItem)
                </div>
            </td>
        </tr>
    </table>
</fieldset>
<p>  
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaterialTypeID }, htmlAttributes: new { @class = "linkbutton" })
    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "linkbutton" })
</p>
