@model PipelineFeatureList.Models.PipeSystem

@{
    ViewBag.Title = "Station Location Details";
}

<h2>Station Location Details</h2>

<fieldset>
    <legend>PipeSystem</legend>

    <table><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.PipeSystemItem)
    </div></td>
    <td>
    <div class="display-field">
        @Html.DisplayFor(model => model.PipeSystemItem)
    </div>
    </td></tr></table>
</fieldset>
<p>   
    @Html.ActionLink("Edit", "Edit", new { id = Model.PipeSystemID }, htmlAttributes: new { @class = "linkbutton" })
    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "linkbutton" })
</p>
