<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <UserName>g2partnersllc.local\3cadmin</UserName>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://g2web.g2partnersllc.local</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>g2web.g2partnersllc.local</MSDeployServiceURL>
    <DeployIisAppPath>pflsite</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PipelineFeatureListDBContext" Order="3" Enabled="False">
          <Destination Path="Data Source=g2dev.g2partnersllc.local;Initial Catalog=PFL;Persist Security Info=True;User ID=PFLUser;Password=PFLU53r" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PipelineFeatureList.Models.PipelineFeatureListDBContext, PipelineFeatureList" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PipelineFeatureListDBContext-Web.config Connection String">
      <ParameterValue>Data Source=g2dev.g2partnersllc.local;Initial Catalog=PFL;Persist Security Info=True;User ID=PFLUser;Password=PFLU53r</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>