@model PipelineFeatureList.Models.SpecRating

@{
    ViewBag.Title = "Specification Details";
}

<h2>Specification Details</h2>

<fieldset>
    <legend>SpecRating</legend>
    <table>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.SpecRatingItem)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.SpecRatingItem)
                </div>
            </td>
        </tr>
    </table>
</fieldset>
<p>
  
    @Html.ActionLink("Edit", "Edit", new { id = Model.SpecRatingID }, htmlAttributes: new { @class = "linkbutton" })
    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "linkbutton" })
</p>
