@model PipelineFeatureList.Models.Pipeline

@{
    ViewBag.Title = "Station Details";
}

<h2>
    Pressure Document Information
</h2>


<hr>

@Html.ActionLink("Create New PTR", "CreatePTR", "Pipeline", Model, htmlAttributes: new { @class = "linkbutton" })